
.custom-common {
    font-family: 'Montserrat';
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
}

.custom-header {
    text-align: start;
    font-weight: 600;
    font-style:normal;
    color: #ffffff;
}

.custom-cell {
    font-weight: 300;
    font-style: italic;
    color: #969BB4;
}

.custom-cell-name {
    padding: 1%;
    color: #969BB4;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
}
/*slider*/
/* Stil für die Container */
.container {
    display: flex;
}

/* Stil für jedes der beiden nebeneinander liegenden Divs */
.box {
    flex: 1;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    margin: 5px;
}
.slider-form {
    display: flex;
    flex-direction: column;
}
.investment-amount {
    float:right;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(7, 208, 243, 0.89) 0.5%, #274956 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 50%;
    ::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 40px;
        height: 40px;
        background: #34d5db;
        border-radius: 50%;
        cursor: pointer;
    }
}
input[type="range"] ::-moz-range-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background: #34d5db;
    border-radius: 50%;
    cursor: pointer;
}